<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "Harry Potter API", root_path, class: "navbar-brand text-white" %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Home", root_path, class: "nav-link text-white" %>
      </li>
      <li class="nav-item">
        <%= link_to "Characters", api_v1_characters_path, class: "nav-link text-white" %>
      </li>
      <li class="nav-item">
        <%= link_to "Creatures", "", class: "nav-link text-white" %>
      </li>
    </ul>
  </div>
</div>
